4 Convolutional Neural Networks/Week 3/model_data/yolo.h5
4 Convolutional Neural Networks/Week 2/ResNets/ResNet50.h5
4 Convolutional Neural Networks/Week 4/archive_name.tar.gz
4 Convolutional Neural Networks/Week 4/Neural Style Transfer/pretrained-model/imagenet-vgg-verydeep-19.mat